<style>
  .box {
    -webkit-box-shadow: 20px 14px 5px 4px rgba(0,0,0,0.67);
    -moz-box-shadow: 20px 14px 5px 4px rgba(0,0,0,0.67);
     box-shadow: 20px 14px 5px 4px rgba(0,0,0,0.67);
     height: 150px;
     width: 150px;
     margin-right: 100px;
     background-color:#1f89a3 ;
     float: right;
     text-align:center;
  }
  .body {
    background-color: lightblue;
    height: 1000px;
    width: 2000px;
    text-align:center;
}


 /* li {
    float: left;
  
}*/


</style>
<div class="body">
<h1>Welocome to shopping store</h1>
<div>
  <br>
<ul>
  <app-item [shoppingItems]="items"
  (onBuy)="buy($event)"></app-item>
  <!-- <li class="box" *ngFor="let item of items">
    {{item.name}} <br>
    <img src="{{item.photo}}" width="60" height="60">
    <br>
    <span>Price: {{item.price}}</span>
    <br>
    <button (click)="buy(item.name , item.price)">Buy</button>
  </li> -->

</ul>
</div> <br>
<br><br><br><br><br><br><br><br><br>

<br>
<!-- <div>
  <img src="http://learnmongodbthehardway.com/images/originals/shopping_cart_racing.png" width="20" height="20">
   <span> Final price : {{cart.finalPrice}} NIS</span> <br>
   <button (click)="show = !show">Shopping list</button>
  <ul *ngIf="show">
    <li *ngFor="let item of cart.items">{{item}}</li>
  </ul>
</div> -->
<app-cart [price]="cart.finalPrice" [cartItems]="cart.items"></app-cart>
</div>


